# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [0]:
# Part 1.1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# # Permanently changes the pandas settings
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

# # Resets the options
# pd.reset_option('all')

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [0]:
# Part 1.2
url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [0]:
# Part 2.1
print(properties.head().iloc[:,:5],properties.iloc[:5,:5],properties.describe(),properties.columns,properties.index,properties.shape,sep="\n\n NEXT \n\n")

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [0]:
# Part 2.2
pt = properties.transpose()
pt = pt.reset_index()
pt.columns = pt.iloc[0,:]
pt.iloc[:5,:10]

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [0]:
# Part 2.3
pt.columns.values[0:2] = ["area","code"]
pt = pt.drop(0).reset_index(drop=True)

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [0]:
# Part 2.4
ptm = pd.melt(pt,id_vars=["area","code"],var_name="date",value_name="price")

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [0]:
# Part 2.4
ptm["price"] = ptm["price"].astype(float)

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [0]:
# Part 2.5
ptmd = ptm.dropna()

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

In [0]:
# Part 2.6
ptmd[ptmd["area"] == "City of London"].plot(y="price",x="date",ylabel="price",title="House price against time for the City of London",legend=False)
plt.show()

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

In [0]:
# Part 2.6
ptmd = ptmd.assign(month_word = lambda y: y["date"].dt.strftime('%B'))
ptmd = ptmd.assign(month_num = lambda y: y["date"].dt.strftime('%m'))

temp = ptmd.groupby("area")["price"]
(temp.max() - temp.min()).nlargest(5)

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [0]:
# Part 3
def ratio_1998_2018(area):
    temp = ptmd[ptmd["area"] == area]
    price_1998 = temp[temp["date"].dt.year == 1998]["price"].mean()
    price_2018 = temp[temp["date"].dt.year == 2018]["price"].mean()
    return price_1998/price_2018

temp2 = []

for area in ptmd.area.unique():
    temp3 = ratio_1998_2018(area)
    temp2.append([area,temp3])

smallest_five = pd.DataFrame(temp2,columns=["area","1998_2018_ratio"]).nsmallest(5,"1998_2018_ratio")
largest_five = pd.DataFrame(temp2,columns=["area","1998_2018_ratio"]).nlargest(5,"1998_2018_ratio")

print(smallest_five, largest_five,sep="\n\n\n NEXT \n\n\n")

In [ ]:
# Further analysis for the explanation submission - Not part of assessment
max_price_area_ind = ptmd.loc[ptmd["price"].idxmax()]
min_price_area_ind = ptmd.loc[ptmd["price"].idxmin()]
print(max_price_area_ind["area"], min_price_area_ind["area"])

max_price_area_avg = ptmd.groupby("area")["price"].mean().idxmax()
min_price_area_avg = ptmd.groupby("area")["price"].mean().idxmin()
print(max_price_area_avg, min_price_area_avg)

def area_price_rank(area):
    ptmdcs = ptmd[["area","price"]].groupby("area").mean().sort_values(by="price",ascending=False).reset_index()
    return ptmdcs[ptmdcs["area"] == area].index[0] + 1

area_price_rank("NORTH EAST")

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!

After importing, transposing, melting and resetting all indexes, I calculated the area (or borough) with the highest individual and highest overall house maximum prices (using methods aggregate, mean, nsmallest and nlargest). That area was “Kensington & Chelsea”.

I also calculated the area with the lowest average and overall minum prices. That area was “NORTH EAST”.

In section 2.6, we calculate the ratio of the average house price in 19998 vs 2018 for all areas (or boroughs). The smaller that ratio is, the larger the relative increase there was between house prices in the past and present. For example, a ratio of ~0.1 indicates that the price from 1998 is approximately 10% of the price in 2018. That is a significant change compared to a ratio of 0.9 or 90% which would indicate relative stability between the past and present housing prices.

The areas with the smallest ratios (most relative increase) were:
- Hackney → 0.161335
- Waltham Forest → 0.171387
- Southwark → 0.181275
- Lewisham → 0.183512
- Westminster → 0.186791

The areas with the largest ratios (least increase) were:
- NORTH EAST →0.353597
- WEST MIDLANDS → 0.302000
- YORKS & THE HUMBER → 0.297968
- NORTH WEST → 0.297317
- EAST MIDLANDS → 0.275275

This was interesting because:
- Hackney has the smallest ratio (and consequently, the largest relative price increase) it’s only the 12th most expensive Borough based on average price.
- NORTH EAST has the lowest average price, the lowest individual price and the largest ratio suggesting that is overall, the cheapest place to live in London.

For more details, see the section by section breakdown below

#### Part 1.1 to 1.2
I loaded the Excel workbook and selected the sheet with Average house prices in the UK.

The sheet had dates as its index and columns with names and uniquecodes for areas in the UK (for example, "City of London" had code "E09000001").

I loaded this data into a dataframe.

#### Part 2.1
To get a sense of the dataframe, I used the following dataframe methods:
- head
- describe
- columns
- index
- shape

#### Part 2.2
I transposed dataframe to set the areas to be the index and the dates to be the columns
I reset index to make it a range from 0 to n-1 where n is the number of rows in the transposed dataframe

I set the values of the first row to be the column values for the data frame then dropped that first row while resetting the index
so the index still began at 0

#### Part 2.3
The first two columns were renamed to "areas" and "codes" as they were invalid values following the transpose of the dataframe.

#### Part 2.4
I melted the dataframe leaving "areas" and codes" as the id variables and setting "date" and "cost" to be the variable 
and value names respectively. 

I set the datatype of the "cost" column to float.

#### Part 2.5
I dropped all rows with null values.

#### Part 2.6
I subsetted the area: "City of London" and plotted its cost against time.
There was a significant rise in average house price from 1998 to 2018.

The areas with the 5 largest differences were as follows:
1. Kensington & Chelsea    1.323556e+06
2. Westminster             9.859392e+05
3. City of London          8.777824e+05
4. Camden                  7.748696e+05
5. Hammersmith & Fulham    7.332346e+05

#### Part 3
I defined a function (ratio_1998_2018) which takes an area of the UK and generates a ratio of average house prices from 
1998 to average house prices from 2018. 

I passed each unique area to the function using a for-loop and generated a dataframe with columns "area" and "1998_2018_ratio" 
showing the ratio of prices from 1998 to 2018.

Naturally, the smaller that ratio is, the bigger the increase in average house prices during the two periods.

The 5 smalles values were:
- Hackney	0.161335
- Waltham Forest	0.171387
- Southwark	0.181275
- Lewisham	0.183512
- Westminster	0.186791

As one would expect, due to inflation, population growth, real estate bubbles and the rising cost of living, 
the cost of owning houses in a city like London has increased significantly.